.screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.botoes {
    display: grid;
    padding: 10px;
    flex: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 5px;
    font-weight: normal;
}

a.button1{
    color: white;
    background-color: var(--primary-color);
}

main.botoes span.material-symbols-outlined{
    color: var(--primary-color);
}

a.button1 span.material-symbols-outlined{
    left: 10%;
    transform: translateX(-50%);
    transform: rotate(45deg);
    color: white;
}

header a{
    text-decoration: none;
}

span{
    text-align: center;
    font-weight: normal;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
a span.material-symbols-outlined{
    top: 90%;
    position: absolute;

}

span.material-symbols-outlined{
    left: 50%;
    transform: translateX(-50%);
}

p.txt{
    color: var(--text-dark-color);
    font-weight: 500;
    position: absolute;
    top: 28%;
    font-size: 12px;
}

div.divisor{
    left: 15%;
    width: 360px;
    height: 165px;
    position: absolute;
    border-bottom: solid 0.5px var(--border-color);
}

.botoes2 {
    display: grid;
    padding: 10px;
    flex: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 5px;
    font-weight: 100px;
}

main.botoes2 a{
    top: 60%;
    width: 100%;
    height: 60%;
}