.btns {
    display: grid;
    padding: 10px;
    grid-gap: 5px;
    font-weight: normal;
    grid-template-columns: repeat(4, 1fr);
    min-height: 130px;
    line-height: 500px;
    cursor: pointer;
}
main {
    height: 100vh;
}
a.button1{
    color: white;
    background-color: var(--primary-color);
}
main.botoes span.material-symbols-outlined{
    color: var(--primary-color);
}
a.button1 span.material-symbols-outlined{
    left: 10%;
    transform: translateX(-50%);
    transform: rotate(45deg);
    color: white;
}
header a{
    text-decoration: none;
}
span, label{
    text-align: center;
    font-weight: normal;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
hr{
    background-color: var(--border-color);
}
span.material-symbols-outlined{
    left: 50%;
    transform: translateX(-50%);
}
p.txt{
    padding: 10px;
    color: var(--text-dark-color);
    font-weight: 500;
    font-size: 13px;
}
div.chave{
    display: grid;
    padding: 5px;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    text-wrap: nowrap;
}
.chave .radio-button input[type="radio"]{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.chave .radio-button label.btn{
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid var(--border-color);
    cursor: pointer;
    font-weight: 520;
}
.radio-button input[type="radio"]:checked + label{
    background-color: var(--primary-color);
    color: white;
    border: var(--primary-color);
    font-weight: 400;
}
div.inputs > div > p{
    padding: 10px;
    color: var(--text-opaque-color);
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    display: flex;
}
div.inputs label{
    position: absolute;
    display: flex;
    padding: 4px;
    font-size: 17px;
    width: 100;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.campoTxt {
    display: flex;
    width: 100%;
    height: 44px;
    align-items: center;
    background-color: white;
    gap: 10px;
}

div.campoTxt p, input{
    display: inline-block;
    color: black;
}

div.campoTxt input {
    outline: none;
    flex: auto;
}

p.textInput{
    padding-left: 10px;
}

#celular, #email, #randomkey {
    display: none;
}