.saldo-box{
    color: var(--text-opaque-color);
    font-size: 15px;
    padding: 24px 20px 8px 20px;
    border-bottom: solid 0.5px var(--border-color);
}
.saldo-box .saldo{
    color: var(--text-color);
    font-weight: bold;
    font-size: 24px;
}
main.botoes{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}
main a.button1{
    grid-column: span 2;
    padding: 30px;
    align-items: center;
}