@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    border: none;
    margin: 0px;
    padding: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --primary-color: #005779;
    --bg-color: #F3F3F3;
    --frames-color: white;
    --text-color: #373737;
    --text-opaque-color: #A2A2A2;
    --screen-color: #373737;
    --border-color: #C8C8C8; 
    --nav-color: #fafafa;
}
body{
    background: var(--screen-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen{
    width: 360px;
    height: 100vh;
    background: var(--bg-color);
}
header{
    display: flex;
    background: var(--primary-color);
    padding: 36px 10px 0px 10px;
    justify-content: space-between;
    align-items: end;
}
header .username{
    display: flex;
    color: white;
    margin-bottom: 20px;
    font-size: 12px;
    align-items: center;
}
.saldo-box{
    color: var(--text-opaque-color);
    font-size: 15px;
    padding: 24px 20px 8px 20px;
    border-bottom: solid 0.5px var(--border-color)
}
.saldo-box .saldo{
    color: var(--text-color);
    font-weight: bold;
    font-size: 24px;
}
main.botoes{
    display: grid;
    /*padding: 20px;*/
    grid-template-columns: repeat(2, 0fr);
    grid-template-rows: repeat(3, 0fr);
}

main section{
    background-color: var(--frames-color);
    width: 150px;
    height: 100px;
    margin: 20px 0px 0px 20px;
    border: solid 0.5px var(--border-color);
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    
}

main.pix section{
    width: 320px;
    height: 90px;
}

nav{
    background-color: var(--nav-color);
    height: 80px;
    width: 360px;
    margin-top: 20px;
    display: grid;
    
    grid-template-columns: repeat(5, 0fr);
    grid-template-rows: repeat(1, 0fr);
}

nav section{
    margin: 20px;
}