@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #005779;
    --bg-color: #F3F3F3;
    --frames-color: white;
    --text-color: #373737;
    --text-opaque-color: #A2A2A2;
    --text-dark-color: #686868;
    --screen-color: #373737;
    --border-color: #C8C8C8; 
    --nav-color: #fafafa;
    --active-nav-color: #FEA82F;
}
*{
    border: none;
    margin: 0px;
    padding: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: var(--screen-color);
    display: flex;
    height: 100vh;
    border: 1px solid red;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
}
body .screen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    height: 100%;
    background: var(--bg-color);
}
header{
    display: flex;
    background: var(--primary-color);
    padding: 36px 10px 10px 10px;
    align-items: end;
    color: var(--bg-color);
}
header div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
header a:link, header a:visited, header a:active{
    color: var(--bg-color);
}
header a{
    display: flex;
    align-items: center;
    justify-content: center;
}
main a{
    position: relative;
    display: flex;
    background-color: var(--frames-color);
    border: solid 0.5px var(--border-color);
    border-radius: 10px;
    align-items: end;
    justify-content: space-between;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 18px;
    transition-duration: 0.2s;
    text-decoration: none;
}
main a:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 5px var(--border-color);
}
main a .material-symbols-outlined{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 32px;
    font-weight: 100;
    color: var(--text-opaque-color);
}
nav{
    background-color: var(--nav-color);
    width: 100%;
    display: flex;
    border-top: solid 0.5px var(--border-color);
    padding: 10px 20px 25px 20px;
    justify-content: space-between;
}
nav a{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    color: var(--text-opaque-color);
    transition-duration: 0.2s;
    cursor: pointer;
}
nav a:hover{
    transform: translateY(-5px);
}
nav a.active{
    color: var(--active-nav-color)
}
nav a span.text{
    position: absolute;
    bottom: -15px;
}

@media screen and (max-width: 600px) {
    .screen {width: 100%;}
}